*{
    margin: 0;
    padding: 0;
}

.start{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f567c;
}

.end{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f567c;
}

